<!-----
1. Need main html tag that contains the header bar. Needs color and proper sizing.
    - Contains Logo on left side
    - Add products tab for now
    - FUTURE DEVELOPMENT: Cart will be added on the right of the header bar.
--- -->

---
const { header, link } = Astro.props;
---

<header>
    <div class="container">
        <h1>NG Leather</h1>
    </div>
</header>

<style>
    .container {
        
    }
</style>